<div>
    <button type="button" class="btn btn-info" (click) = "onClick2()">Primary</button>
    <p *ngIf = "state2; else notClicked2"> state : {{state2}} </p>
    <ng-template #notClicked2>
        <p > state : {{state2}} </p>
    </ng-template>

    <button type="button" class="btn btn-primary" [disabled] = "!allowNewServer" (click) = "onClick()">Primary</button>
    {{state}}<br>
    {{serverNameInputed}}

    <hr>

    <button type="button" class="btn btn-danger" (click) = "onCreate()">Primary</button>
    {{state}}<br>
    {{serverNameInputed}}

    <hr>

    <div class="oneWayDataBinding">
        <p>One way data binding:</p>
        <input  (input) = "updateDOM($event)" >
        <hr>
    </div>

    <div class="twoWayDataBinding">
        <p>Two way data binding:</p>
        <input [(ngModel)]= "textInputed" >
        <hr>
    </div>

</div>

<div>
    <p>Inside servers</p>
    <ul type = "square">
        <li><app-server *ngFor = "let server of servers"></app-server></li>
        <li>{{textInputed}}</li>
    </ul>
</div>
